{% extends "layout.html" %}



{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-signal fa-fw"></i> Configure client</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p>{{Messages}}</p>
                <h4>Client settings</h4>
                <div class="btn-group btn-block">
                    <a href=".?<?php echo $_SERVER['QUERY_STRING']; ?>" style="padding:10px;float: right;display: block;position: relative;margin-top: -55px;" class="col-md-2 btn btn-info" id="update">Rescan</a>
                </div>
                <form method="POST" action="?page=wpa_conf" name="wpa_conf_form">
                    <input type="hidden" name="client_settings" ?>
                    <table class="table table-responsive table-striped">
                        <tr>
                            <th></th>
                            <th>SSID</th>
                            <th>Channel</th>
                            <th>Security</th>
                            <th>Passphrase</th>
                            <th></th>
                        </tr>
                        {% set index=0 %}
                        {% for network in networks  %}
                        <tr>
                            <td>
                                {% if network.configured %}
                                <i class="fa fa-check-circle fa-fw"></i>
                                {% endif %}
                                {% if network.connected %}
                                <i class="fa fa-exchange fa-fw"></i>
                                {% endif %}
                            </td>
                            <td>
                                <input type="hidden" name="ssid{{index}}" value="<?php echo htmlentities($ssid) ?>" />
                                {{ssid}}
                            </td>
                            {% if network.visible %}
                            <td>{{network.channel}}</td>
                            {% else %}
                            <td><span class="label label-warning">X</span></td>
                            {% endif %}
                            <td><input type="hidden" name="protocol{{index}}" value="{{network.protocol}}" />{{network.protocol}}</td>

                            {% if network.protocol == 'Open' %}
                            <td><input type="hidden" name="passphrase{{index}}" value="" />---</td>
                            {% else %}
                            <td>
                                <input type="text" class="form-control" name="passphrase{{index}}" value="{{network.passphrase}}" onKeyUp="CheckPSK(this, 'update<?php echo $index?>')" />
                            </td>
                            {% endif %}
                            <td>
                                <div class="btn-group btn-block">
                                    {% if network.configured %}
                                    <input type="submit" class="col-md-6 btn btn-warning" value="Update" id="update{{index}}" name="update{{index}}"<?php echo ($network['protocol'] === 'Open' ? ' disabled' : '')?> />
                                    {% else %}
                                    <input type="submit" class="col-md-6 btn btn-info" value="Add" id="update{{index}}" name="update{{index}}" <?php echo ($network['protocol'] === 'Open' ? '' : ' disabled')?> />
                                    {% endif %}
                                    <input type="submit" class="col-md-6 btn btn-danger" value="Delete" name="delete{{index}}"<?php echo ($network['configured'] ? '' : ' disabled')?> />
                                </div>
                            </td>
                        </tr>
                        {% set index=index + 1 %}
                        {% endfor %}
                    </table>
                </form>
            </div><!-- ./ Panel body -->
            <div class="panel-footer"><strong>Note,</strong> WEP access points appear as 'Open'. RaspAP does not currently support connecting to WEP.</div>
        </div><!-- /.panel-primary -->
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
{% endblock %}
