{% extends "layout.html" %}



{% block content %}

{% set strIPAddress = interface['IPv4'] %}
{% set strNetMask = interface['Mask'] %}
{% set strHWAddress = interface['MAC'] %}

{% set Rx = interface['Rx'] %}
{% set strRxPackets = Rx['pkts'] %}
{% set strRxBytes = Rx['bytes'] %}

{% set Tx = interface['Tx'] %}
{% set strTxPackets = Tx['pkts'] %}
{% set strTxBytes = Tx['bytes'] %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-dashboard fa-fw"></i> Dashboard   </div>
            <div class="panel-body">
                <p>{{Messages}}</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Interface Information</h4>
                                <div class="info-item">Interface Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;wlan0</div>
                                <div class="info-item">IP Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{strIPAddress}}</div>
                                <div class="info-item">Subnet Mask&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{strNetMask}}</div>
                                <div class="info-item">Mac Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{strHWAddress}}</div>
                                <br />
                                <h4>Interface Statistics</h4>
                                <div class="info-item">Received Packets     {{strRxPackets}}</div>
                                <div class="info-item">Received Bytes       {{strRxBytes}}</div>
                                <br />
                                <div class="info-item">Transferred Packets  {{strTxPackets}}</div>
                                <div class="info-item">Transferred Bytes    {{strTxBytes}}</div>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-default -->
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body wireless">
                                <h4>Wireless Information</h4>
                                <div class="info-item">Connected To</div>   {{strSSID}}
                                <div class="info-item">AP Mac Address</div> {{strBSSID}}
                                <div class="info-item">Bitrate</div>        {{strBitrate}}
                                <div class="info-item">Signal Level</div>        {{strSignalLevel}}
                                <div class="info-item">Transmit Power</div> {{strTxPower}}
                                <div class="info-item">Frequency</div>      {{strFrequency}}
                                <br />
                                <div class="info-item">Link Quality</div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                                         role="progressbar"
                                         aria-valuenow="{{strLinkQuality}}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{strLinkQuality}}">
                                        {{strLinkQuality}}
                                    </div>
                                </div>
                            </div><!-- /.panel-body -->
                        </div><!-- /.panel-default -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
                <div class="col-lg-12">
                    <div class="row">
                        <form action="?page=wlan0_info" method="POST">
                            {% if wlan0up %}
                            <input type="submit" class="btn btn-success" value="Start wlan0" name="ifup_wlan0" />
                            {% else %}
                            <input type="submit" class="btn btn-warning" value="Stop wlan0" name="ifdown_wlan0" />
                            {% endif %}
                            <input type="button" class="btn btn-outline btn-primary" value="Refresh" onclick="document.location.reload(true)" />
                        </form>
                    </div>
                </div>
            </div><!-- /.panel-body -->
            <div class="panel-footer">Information provided by ifconfig and iwconfig</div>
        </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
{% endblock %}
